version: '3.8'

services:
  db:
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB-crypto_exchange}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - crypto-network

  backend:
    build: ./backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      FLASK_ENV: ${FLASK_ENV}
      COMMISSION_RATE: ${COMMISSION_RATE}
      INITIAL_BALANCE: ${INITIAL_BALANCE}
    ports:
      - "5000:5000"
    networks:
      - crypto-network
    volumes:
      - ./backend:/app

  frontend:
    build: 
      context: ./frontend
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
        REACT_APP_COMMISSION_RATE: ${REACT_APP_COMMISSION_RATE}
    depends_on:
      - backend
    ports:
      - "${FRONTEND_PORT}:80"
    networks:
      - crypto-network
    environment:
      REACT_APP_API_URL: ${REACT_APP_API_URL}
      REACT_APP_COMMISSION_RATE: ${REACT_APP_COMMISSION_RATE}

volumes:
  postgres_data:

networks:
  crypto-network:
    driver: bridge
